<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 出力対象の設定 -->
  <targets>
    <!-- file.txtというファイルに出力(logfileという名前にする) -->
    <target name="logfile" xsi:type="File" fileName="file.txt" />
    <!-- コンソールに出力(consoleという名前にする) -->
    <target name="console" xsi:type="Console" layout="${level}: ${message}" />
  </targets>

  <rules>
    <!-- logfileと名づけられた出力に対する設定 -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <!-- consoleと名づけられた出力に対する設定 -->
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>