<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="dev_key" value="F6F78EA0A96B4EFF8FED033DDC460B35"/>
    <add key="web_server" value="http://gae.cavelis.net"/>
    <add key="comment_server" value="http://ws.cavelis.net:3000"/>
    <add key="preview_server" value="http://ss.cavelis.net:3001"/>
  </appSettings>
</configuration>
